 <app-header >
  </app-header>
  <div class="row flex">
    <div class="col-sm-6 card-width">
        <button mat-raised-button (click)="addCard()">What Went well</button>
<button mat-raised-button (click)="clearWwwCards()">Clear All Cards</button>
<div class="blocksWrapper">
    <app-what-went-well *ngFor="let block of blocks" [blockData]="block">
    </app-what-went-well>
  </div>
       
    </div>
    <div class="col-sm-6 card-width">
        <button mat-raised-button (click)="addWciCard()">What Can be Improved</button>
        <button mat-raised-button (click)="clearWciCards()">Clear All Cards</button>
        <div class = "blocksWrapper">
        <app-what-can-be-improved *ngFor="let improved of improve" [improveData]="improved"></app-what-can-be-improved>
    </div>
    </div>
</div>
