 <div >
 <app-header  >
  </app-header>
  <div class="row flex">
    <div class="col-sm-3 card-width"  fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between">
    
<div class="blocksWrapper">
    <app-what-went-well >
    </app-what-went-well>
  </div>
       
    </div>
    <div class="col-sm-3 card-width" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between">
       
        <div class = "blocksWrapper" >
        <app-what-can-be-improved ></app-what-can-be-improved>
    </div>
    </div>
    <div class="col-sm-3 card-width"   fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between">
       
        <div class = "blocksWrapper">
        <app-start-doing ></app-start-doing>
    </div>
    </div>
    <div class="col-sm-3 card-width"  fxLayout="column" fxLayout.xs="row"fxLayoutAlign="space-between">
       
        <div class = "blocksWrapper">
        <app-action-items ></app-action-items>
    </div>
    </div>
</div>
</div>